 <div class="modal-header">
       <a class=" modal-action modal-close waves-effect btn right red"> X </a>
    </div>

<div class="modal-content">
    <h3><b>Editar usuario</h3></b>
    <%= form_for(user) do |f| %>
    <% carrera = user.programs.first %>
    <!-- Inicio de form -->
    <div class="field">
        <%= f.label :email, "Correo electrónico" %>
        <%= f.text_field :email, autofocus: true, class: "validate", placeholder:"ejemplo@correo.cl"  %>
    </div>
    <div class="field">
        <%= f.label :name, "Nombres" %>
        <%= f.text_field :name, autofocus: true, class: "validate", required: "true", placeholder:"Tammy"  %>
    </div>
    <div class="field">
        <%= f.label :surname, "Apellidos" %>
        <%= f.text_field :surname, autofocus: true, class: "validate", required: "true", placeholder:"Lagos"  %>
    </div>
    <div class="field">
        <%= f.label :age, "Edad" %>
        <%= f.number_field :age, autofocus: true, class: "validate", required: "true", placeholder:"23" %>
    </div>
        <%= label :sex, "Género" %>
    <div class="input-field">
        <select name="user[sex]" class="browser-default">
            <option <%if user.sex == 0 %>selected <% end %> value=0>Masculino</option>
            <option <%if user.sex == 1 %>selected <% end %> value=1>Femenino</option>
        </select>
    </div>
    <% if current_user.rol == 0 %>
        <%= label :rol, "Rol" %>
        <div class="input-field">
            <select name="user[rol]" class="browser-default">
                <option <%if f.object.rol == 3 %>selected<% end %> value=3>Alumno</option>
                <option <%if f.object.rol == 2 %>selected<% end %> value=2>Ayudante</option>
                <% if current_user.rol == 0 %><option <%if f.object.rol == 1 %>selected<% end %> value=1>Profesor</option><% end %>
            </select>
        </div>
    <% end %>
    <%= label :program_id, "Carrera" %>
    <div class="field">
        <select name="user[program_id]" class="browser-default">
            <% @programs.each do |program| %>
            <option value=<%= program.id %> <%if program.id == carrera.id %>selected<% end %>><%= program.name %></option> 
            <% end %>
        </select>
    </div>
    <br>
    <div class="field">
        <%= f.label "Curso" %>
        <div class="row" style="margin-bottom: 20px;">
            <% @courses.each do |s| %>
            <div class="col s4 m4 l2">
                <div class="field">
                    <p>
                        <input id="EditCourse<%= user.id %><%= s.id%>" name="courses[]" type="checkbox" value="<%= s.id%>" <% user.courses.each do |u| %> <% if u.id == s.id %> checked=1 <% end %> <% end %> />
                        <label for="EditCourse<%= user.id %><%= s.id%>"><%= s.code%></label>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class="switch field">
        <%= label :status, "Estado" %><br>
        Suspendido
        <label>
            <%= f.check_box :status%>
            <span class="lever"></span>
        </label>
        Activo
    </div>
</div>

<div class="modal-footer">
    <%= f.submit 'Actualizar usuario', :onclick => "return confirm('¿Estás seguro que deseas cambiar los datos de " + user.email.to_s + "? ')",class: "btn left" %>
    <% end %>
    <!-- termino del form-->
</div>