 <div class="modal-header">
       <a class=" modal-action modal-close waves-effect btn right red"> X </a>
</div>

<div class="modal-content">
    <h3><b>Nuevo usuario</h3></b>

    <%= form_for(@user) do |f| %>
    <div class="field">
        <%= f.label :email, "Correo" %>
        <%= f.text_field :email, autofocus: true, class: "validate", required: "true", placeholder:"ejemplo@correo.cl" %>
    </div>
    <div class="field">
        <%= f.label :name, "Nombres" %>
        <%= f.text_field :name, autofocus: true, class: "validate", required: "true", placeholder:"Tammy"  %>
    </div>
    <div class="field">
        <%= f.label :surname, "Apellidos" %>
        <%= f.text_field :surname, autofocus: true, class: "validate", required: "true", placeholder:"Lagos" %>
    </div>
    <div class="field">
        <%= f.label :age, "Edad" %>
        <%= f.number_field :age, autofocus: true, class: "validate", required: "true", placeholder:"23" %>
    </div>
    <div class="field">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password, autocomplete: "off", class: "validate", required: "true", placeholder:"seis caracteres mínimo." %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation, "Confirmar contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate",required: "true", placeholder:"Vuelva a ingresar la contraseña." %>
    </div>
    <%= label :sex, "Género" %>
    <div class="input-field">
        <select name="user[sex]" class="browser-default">
            <option selected value=0>Masculino</option>
            <option value=1>Femenino</option>
        </select>
    </div>
    <%= label :rol, "Rol" %>
    <div class="input-field">
        <select name="user[rol]" class="browser-default">
            <option selected value=3>Estudiante</option>
            <option value=2>Ayudante</option>
            <% if current_user.rol == 0 %><option value=1>Profesor</option><% end %>
        </select>
    </div>

    <%= label :program_id, "Carrera" %>
    <div class="field">
        <select name="user[program_id]" class="browser-default">
            <% @programs.each do |program| %>
            <option value=<%= program.id %>><%= program.name %></option>
            <% end %>
        </select>
    </div>
    <br>
    <div class="field">
        <%= f.label :course_id, "Curso" %>
        <div class="row">
            <% if current_user.rol == 0 %>
                <% @courses.each do |s| %>
                <div class="col s4 m4 l2">
                    <div class="field" class: "validate" , required: "true">
                        <p><input id="NewCourse<%= s.id%>" name="courses[]" type="checkbox"  value="<%= s.id%>" />
                            <label for="NewCourse<%= s.id%>"><%= s.code%></label></p>
                    </div>
                </div>
                <% end %>
            <% end %> 
        </div>
    </div><br>
    <div class="switch field">
        <%= label :status, "Estado" %><br>
        Suspendido
        <label>
            <%= f.check_box :status,{checked: true}%>
            <span class="lever"></span>
        </label>
        Activo
    </div>
</div>
<div class="modal-footer">
    <%= f.submit 'Crear usuario', :class  => "btn left" %>
    <% end %>
</div>