<div class="" style="padding-top:5%">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 center-align">
                <h3 style="display: inline"><b>Grupos de trabajo</b></h3>
                <hr style="height: 5px;background-color: #2196F3;border-color: transparent !important;margin-bottom:20px">
                <% if @status && @status == 'NO ES POSIBLE GENERAR LOS EQUIPOS DE:' %>
                <div class="card-panel card-fix red lighten-4 red-text center-align">
                    <i class="material-icons medium">mood_bad</i>
                    <h5 class="h5-fix"><b>¡Ups! Algo no salió bien ... </b></h5>
                    <p style="margin: 4px;"> <%= @status %> </p>
                    <p style="margin: 4px;"><b> <%= @status_curso %> / </b></p>
                    <p>Esto puede deberse a que el curso no cuenta con la cantidad apropiada de estudiantes para generar los equipos, porque ingresó una cantidad de estudiantes por grupo menor a <b>3</b> o porque los alumnos del curso no han contestado sus test.</p>
                </div>
                <% elsif @status && @status == '¡GRUPOS GENERADOS CON ÉXITO!' %>
                <div class="card-panel card-fix green lighten-4 green-text center-align">
                    <i class="material-icons medium ">mood</i>
                    <h5 class="h5-fix"><b>Todo salió bien ... </b></h5>
                    <p class="alert" style="margin: 4px;"> <%= @status %> </p>
                </div>
                <% end %>
            </div>

            <div class="col l3 m6 s8 offset-m3 offset-s2" align="center">
                <div class="card-panel">
                    <p><b>GENERAR GRUPOS</b></p>
                    <%= form_tag({:action => "index"}) do %>
                    <div class="input-field fix-placeholder">
                        <input placeholder="N° de estudiantes" id="porGrupo" name="porGrupo" type="number" class="validate">
                    </div>
                    <div class="input-field fix-placeholder">
                        <select placeholder="Curso" id="curso" name="curso" type="number" class="validate">
                            <% if current_user.rol == 1 || current_user.rol == 2 %>
                                <% current_user.courses.each do |course| %>
                                <option value="<%= course.id %>"><%= course.code %></option>
                                <% end %>
                            <% elsif current_user.rol == 0 %>
                                <% Course.all.each do |course| %>
                                <option value="<%= course.id %>"><%= course.code %></option>
                                <% end %>
                            <% end %>
                        </select>
                    </div>
                    <%= submit_tag "CREAR", class: 'btn blue waves-light' %>
                    <% end %>
                </div>
            </div>

            <div class="col l9 m12 s12">
                <div class="card-panel blue-grey darken-2 white-text" align="left" style="padding-bottom: 6px;">
                    <h5 align="center"><b>INFORMACIÓN</b></h5>
                    <p>Al conformar los equipos de trabajo considere lo siguiente:</p>
                    <li>N° de estudiantes mínimo por grupo deben ser 3 estudiantes.</li>
                    <li>Considere que la cantidad de integrantes por grupo no se diferencie por más de un estudiante.</li>
                    <li>Verifique que todos los alumnos del curso hayan respondido los test correspondientes, quien no lo haya hecho no será incluido en ningún equípo.</li>
                    <p></p>
                </div>
            </div>

            <% if current_user.rol == 1 || current_user.rol == 2 %>
                <% @courses_show.each do |course| %>
                <div class="col s12 center-align">
                    <div class="card blue black-text">
                        <div class="card-content">
                            <h4> Curso: <%= course.code %></h4>
                            <%= link_to "EXPORTAR", excel_path(format: :xlsx, course: course.id), class: 'btn white waves-light black-text' %>
                            <!-- <%= link_to "COMPLAINT", complaint_path(format: :xlsx, course: course.id), class: 'btn blue waves-light' %> -->
                        </div>
                        <% if course.groups.exists? %>
                        <div class="card-tabs black-text">
                            <ul class="tabs tabs-fixed-width tabs-transparent black-text">
                                <% @course_groups[course.id].each do |group_number, members| %>
                                    <li class="tab black-text"><a href="#group<%= group_number.to_s + course.id.to_s %>">grupo <%= group_number %></a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="card-content" style="background-color:#1e87da">
                            <div class=" row">
                                <% @course_groups[course.id].each do |group_number, members| %>
                                     <% if group_number.present? %>
                                        <div id="group<%= group_number.to_s + course.id.to_s %>">
                                            <%  members.each do |rel| %>
                                                <% if rel.user.present?  %>
                                                    <!-- Modal Ver estudiante -->
                                                    <div id="verEstudiante<%= rel.user.id%>" class="modal">
                                                        <%= render :partial => "users/shared/show_user", locals: {user: rel.user} %>
                                                    </div> 
                                                    <div class="col l6 m12 s12">
                                                        <div class="card horizontal white darken-2 lighten-1 black-text z-depth-5">
                                                            <div class=" orange darken-5 card-image" style="width: 20% !important;color:#ffe0b2">
                                                                <p align="center" style="padding-top:10px">ENEATIPO</p>
                                                                <% if rel.user.eneatype != nil %>
                                                                    <h1><%= rel.user.eneatype.number %></h1>
                                                                <% else %>
                                                                    <p>Número</p>
                                                                <% end %>
                                                            </div>
                                                            <div class="card-stacked">
                                                                <div class="card-content">
                                                                    <h5 class="flow-text" align="center"><b><%= rel.user.name + ' ' + rel.user.surname %></b></h5>
                                                                    <p class="flow-text" align="center">Carrera: <%= rel.user.programs.first.name %></p>
                                                                    <p class="flow-text" align="center">Sexo: <%= rel.user.sex == 0 ? "Femenino" : "Masculino" %></p>
                                                                </div>
                                                                <div class="card-action">
                                                                    <a class="orange-text modal-trigger" href="#verEstudiante<%= rel.user.id%>">Ver más...</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <% else %>
                        <div class="card-content" style="background-color:#1e87da">
                            <h5>No hay grupos formados en este curso</h5>
                        </div>
                        <% end %>
                    </div>
                </div>
                <% end %>

            <% elsif current_user.rol == 0 %>
                <% @courses_show.each do |course| %>
                <div class="col s12 center-align">
                    <div class="card blue black-text">
                        <div class="card-content">
                            <h4> Curso: <%= course.code %></h4>
                            <%= link_to "EXPORTAR", excel_path(format: :xlsx, course: course.id), class: 'btn white waves-light black-text' %>
                            <!-- <%= link_to "COMPLAINT", complaint_path(format: :xlsx, course: course.id), class: 'btn blue waves-light' %> -->
                        </div>
                        <% if course.groups.exists? %>
                        <div class="card-tabs black-text">
                            <ul class="tabs tabs-fixed-width tabs-transparent black-text">
                                <% @course_groups[course.id].each do |group_number, members| %>
                                    <li class="tab black-text"><a href="#group<%= group_number.to_s + course.id.to_s %>">grupo <%= group_number %></a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="card-content" style="background-color:#1e87da">
                            <div class=" row">
                                <% @course_groups[course.id].each do |group_number, members| %>
                                     <% if group_number.present? %>
                                        <div id="group<%= group_number.to_s + course.id.to_s %>">
                                            <%  members.each do |rel| %>
                                                <% if rel.user.present?  %>
                                                    <!-- Modal Ver estudiante -->
                                                    <div id="verEstudiante<%= rel.user.id%>" class="modal">
                                                        <%= render :partial => "users/shared/show_user", locals: {user: rel.user} %>
                                                    </div> 
                                                    <div class="col l6 m12 s12">
                                                        <div class="card horizontal white darken-2 lighten-1 black-text z-depth-5">
                                                            <div class=" orange darken-5 card-image" style="width: 20% !important;color:#ffe0b2">
                                                                <p align="center" style="padding-top:10px">ENEATIPO</p>
                                                                <% if rel.user.eneatype != nil %>
                                                                    <h1><%= rel.user.eneatype.number %></h1>
                                                                <% else %>
                                                                    <p>Número</p>
                                                                <% end %>
                                                            </div>
                                                            <div class="card-stacked">
                                                                <div class="card-content">
                                                                    <h5 class="flow-text" align="center"><b><%= rel.user.name + ' ' + rel.user.surname %></b></h5>
                                                                    <p class="flow-text" align="center">Carrera: <%= rel.user.programs.first.name %></p>
                                                                    <p class="flow-text" align="center">Sexo: <%= rel.user.sex == 0 ? "Femenino" : "Masculino" %></p>
                                                                </div>
                                                                <div class="card-action">
                                                                    <a class="orange-text modal-trigger" href="#verEstudiante<%= rel.user.id%>">Ver más...</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <% else %>
                        <div class="card-content" style="background-color:#1e87da">
                            <h5>No hay grupos formados en este curso</h5>
                        </div>
                        <% end %>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>