<div class="container" style="padding-top:8%">
    <div class="row center">
        <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1">
            <div class="card-panel z-depth-5 features-black">

                <%= link_to "<h1 style='margin-top:-100px;font-size: 4.0rem;'>TeamMaker</h1>".html_safe, root_path, :class => "Motion white-text"%>
                <p class="flow-text thin white-text">¿Olvidaste tu contraseña?</p>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="input-field">
                    <%= f.label :email, " Ingresa tu correo" %><br>
                    <%= f.email_field :email, autofocus: true ,autocomplete: "off", :class => "validate" , :style => "color:white" %>
                </div>
                <br>
                <div class="actions">
                    <%= f.submit "Enviar", :class=> "btn btn-default waves-effect waves-light" , :style => "background-color:#3d5afe", data: { confirm: "Se ha enviado un link a su correo para el cambio de contraseña" }%>
                </div>
                <% end %>

            </div>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>