 <div class="modal-header">
       <a class=" modal-action modal-close waves-effect btn right red"> X </a>
    </div>

<div class="modal-content">
    <h3><b>Curso:</b>
        <b><span class="sub-titulo" style="color:#2196F3 !important;"><%= course.code %></span><b>
        <a class="btn btn-floating waves-effect waves-light modal-trigger" href="#editarCurso<%= course.id%>" style="background-color:#ff9800; border-color:#e68900;font-size: 16px"><i class="material-icons">mode_edit</i></a>
    </h3>
    <% if course.id != nil %>
    <div class="row">
        <div class="col s12">
            <b>Profesor(es): </b>
            <p>
                <% if course.users.where(rol: 1).count == 0 %>
                Ningún profesor asignado aún
                <% else %>
                <% course.users.where(rol: 1).each do |t| %>
                <span class="chip">
                    <%= t.email %>
                </span>
                <% end %>
                <% end %>
            </p>
            <b>Ayudante(s): </b>
            <p>
                <% if course.users.where(rol: 2).count == 0 %>
                Ningún ayudante asignado aún
                <% else %>
                <% course.users.where(rol: 2).each do |t| %>
                <span class="chip">
                    <%= t.email %>
                </span>
                <% end %>
                <% end %>
            </p>
            <b> Estudiantes: </b>
            <div class="container" style="width: 95%;">
                <div class="row" style="margin-bottom: 0px;">
                    <ul class="collection center">
                        <% num = 1 %>
                        <% course.users.where(rol: 3).each do |s| %>
                        <a href="#verEstudiante<%= s.id%>" class="collection-item modal-trigger"><span class="left"> <%= num %></span><%= s.email %></a>
                        <% num = num + 1 %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
