<div class="container" style="width: 90%;padding-top:2%">
    <div class="row">
        <div class="col s12">
            <h3 style="display: inline">
                <b>Test
                    <% if current_user.tests.find_by(kind: 2, answered: true, course_id: @my_course.id).present?  %>
                    2/2: </b>
                <h3 class="sub-titulo" style="display: inline; color:#2196F3 !important;">Social</h3>
                <div class="card-panel blue lighten-2" style="padding: 10px 24px;">
                    <strong class="white-text flow-text"><b>INSTRUCCIONES: </b></strong>
                    <p class="white-text flow-text" align="justify" style="margin: 1rem 0;"><b style="color:#005396;">Sólo seleccione</b> a los estudiantes con quien le interesaría o no realizar la actividad propuesta en la pregunta, los demás estudiantes que le sean indiferentes simplemente <b style="color:#005396;">no los marque. Si no conoce a nadie, puede dejarlo en blanco.</b></p>
                </div>

                <%= form_tag({:action => "create"}) do %>
                <% if @partnersA != [] %>
                <p class="flow-text"><b>¿A quién(es) NO elegirías para trabajar en equipo?</b></p>
                <select name="partnersA[]" multiple="" class="dropdown">
                    <option value="" disabled selected>Seleccione...</option>
                    <% @partnersA.each do |partner| %>
                    <option value="<%= partner.id%>"><%= partner.name + ' ' + partner.surname %> </option>
                    <% end %>
                </select>
                <% end %><br>
                <% if @partnersB != [] %>
                <p class="flow-text"><b>¿Quién(es) crees que NO te elegirían para trabajar en equipo?</b></p>
                <select name="partnersB[]" multiple="" class="dropdown">
                    <option value="" disabled selected>Seleccione...</option>
                    <% @partnersB.each do |partner| %>
                    <option value="<%= partner.id%>"><%= partner.name + ' ' + partner.surname %> </option>
                    <% end %>
                </select>
                <% end %><br>
                <%= submit_tag "Enviar", class: 'btn btn-large blue waves-light'%>
                <% end %>

                <% else %>
                1/2: </b>
                <h3 class="sub-titulo" style="display: inline; color:#2196F3 !important;">Social</h3>
                <div class="card-panel blue lighten-2" style="padding: 10px 24px;">
                    <strong class="white-text flow-text"><b>INSTRUCCIONES: </b></strong>
                    <p class="white-text flow-text" align="justify" style="margin: 1rem 0;"><b style="color:#005396;">Sólo seleccione</b> a los estudiantes con quien le interesaría o no realizar la actividad propuesta en la pregunta, los demás estudiantes que le sean indiferentes simplemente <b style="color:#005396;">no los marque. Si no conoce a nadie, puede dejarlo en blanco. </b></p>
                </div>

                <%= form_tag({:action => "create"}) do %>
                <p class="flow-text"><b>¿A quién(es) elegirías para trabajar en equipo?</b></p>
                <select name="partnersA[]" multiple="" class="dropdown">
                    <option value="" disabled selected>Seleccione...</option>
                    <% @partners.each do |partner| %>
                    <option value="<%= partner.id%>"><%= partner.name + ' ' + partner.surname %> </option>
                    <% end %>
                </select><br>

                <p class="flow-text"><b>¿Quién(es) crees que te elegirían para trabajar en equipo?</b></p>
                <select name="partnersB[]" multiple="" class="dropdown">
                    <option value="" disabled selected>Seleccione...</option>
                    <% @partners.each do |partner| %>
                    <option value="<%= partner.id%>"><%= partner.name + ' ' + partner.surname %> </option>
                    <% end %>
                </select><br>

                <%= submit_tag "Enviar", class: 'btn btn-large blue waves-light'%>
                <% end %>

                <% end %>
            </h3>
        </div>
    </div>
</div>